
body{
/*    background-color: #00002fff;*/
/*    background-color: #000000ff;*/
    text-align: center;
    
    position: absolute;
    left: 50%;
    width: 80vw;
    transform: translateX(-50%);
    background-color: #afafafff;
}

.grid-container{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    
    display: grid;
    text-align: center;
    gap: 10px;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-item{
    display: inline;
    
    width: auto;
    position: relative;
    height: 100px;
    line-height: 100px;
    flex-direction: column;
    background-color: #6fff60ff;
    
    margin: unset;
    
    
}
.grid-item:nth-child(1){
    background-color: #ff6f6fff;
    grid-column: 1/3;
}
.grid-item:nth-child(4){
    grid-column: 1/4;
    background-color: #6f6fffff;
}
.grid-item:nth-child(6){
    grid-column: 1/5;
    background-color: #6f006fff;
}
.grid-item:nth-child(9){
    grid-column: 3/5;
    background-color: #df008fff;
}



