.infodiv {
  position: relative;
  top: 20vh;
  width: 70%;
  height: 70vh; }
  @media (max-width: 600px) {
    .infodiv {
      grid-template-columns: 1fr;
      gap: 10px; } }
  @media (min-width: 600px) {
    .infodiv {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 35px;
      display: grid; } }
.infosub {
  position: relative;
  width: 100%; }
  @media (min-width: 600px) {
    .infosub {
      height: 100%; } }
  @media (max-width: 600px) {
    .infosub {
      height: 100px;
      margin-top: 5px; } }
.infosub_img {
  position: absolute;
  aspect-ratio: 1 / 1; }
  @media (min-width: 600px) {
    .infosub_img {
      height: 60%;
      width: auto;
      left: 50%;
      transform: translateX(-50%); } }
  @media (max-width: 600px) {
    .infosub_img {
      width: 100px;
      height: auto;
      position: relative;
      height: 100%; } }
.infosub > span {
  position: absolute;
  color: #000000ff;
  width: max-content;
  text-transform: uppercase; }
  @media (min-width: 600px) {
    .infosub > span {
      left: 50%;
      top: 100%;
      transform: translate(-50%, -100%); } }
  @media (max-width: 600px) {
    .infosub > span {
      left: 0px;
      position: relative;
      margin-left: 10px;
      top: -50%;
      transform: none;
      transform: translateY(-50%); } }
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

#maindiv {
  margin: unset;
  width: 100%;
  min-height: 100vh; }

#mainbg {
  margin: unset;
  width: 100%;
  min-height: 100vh;
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("images/bottle.png"); }
  @media (max-width: 600px) {
    #mainbg {
      display: none; } }
#holidaybox {
  position: absolute;
  right: 10%;
  top: 50%;
  width: 50%;
  height: 30%;
  background-color: #0000003f; }
  @media (max-width: 600px) {
    #holidaybox {
      left: 50%;
      width: 80%;
      transform: translateX(-50%);
      top: 30%; } }
.placeimg {
  position: absolute;
  width: 100%;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover; }

.holidayhp {
  font-weight: bold;
  text-align: center;
  font-family: Arial;
  text-transform: uppercase;
  font-size: 22px;
  margin: 15px;
  margin-left: 0px;
  margin-right: 0px; }

#destinations {
  height: 1200px; }

#placetiles {
  position: relative;
  gap: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: auto;
  margin-bottom: 10vh; }
  @media only screen and (min-width: 600px) {
    #placetiles {
      display: flex; } }
.whitefull {
  position: relative;
  background-color: #efefefff;
  width: 100%; }

.textblock {
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%; }

body {
  background-color: #eeede8ff;
  width: 100vw;
  height: 100vh;
  margin: unset;
  color: #ffffffff; }

p {
  margin: unset;
  font-family: Arial; }

button {
  color: #ffffffff;
  position: relative;
  cursor: pointer;
  margin: unset;
  border: none;
  background-color: #6f6f6fff;
  width: 120px;
  height: 40px;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out; }

button:hover {
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  background-color: #8f8f8fff; }

button:active {
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  background-color: #4f4f4fff; }

#logoimg {
  position: absolute;
  aspect-ratio: 1 / 1;
  height: 60px; }

.header {
  background-color: #cec5b6ff; }

#hdrtbr {
  position: relative;
  left: 100%;
  transform: translateX(-100%); }

#navbar {
  position: fixed;
  left: 0px;
  width: 100%;
  height: 60px;
  top: 0px;
  border: none;
  overflow: hidden;
  overflow-y: hidden;
  margin: none;
  background-color: #cbc2b3ff;
  z-index: 1; }

.navlinkcnt {
  width: auto;
  position: absolute;
  top: 0px;
  height: 100%;
  right: 10%;
  display: flex;
  gap: 50px; }
  @media (max-width: 600px) {
    .navlinkcnt {
      display: none; } }
.navlink {
  font-weight: bold;
  text-align: center;
  font-family: Arial;
  text-transform: uppercase;
  position: relative;
  background-color: #00000000;
  color: #000000ff;
  text-decoration: none;
  height: fit-content;
  top: 50%;
  transform: translateY(-50%);
  transition-duration: 0.6s; }

.navlink:hover {
  color: #ffffffff;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out; }

.mobilebtn {
  position: absolute;
  right: 10px;
  height: 90%;
  top: 5px;
  width: calc($hdsize - 10px); }
  @media (min-width: 600px) {
    .mobilebtn {
      display: none; } }
#contactdiv {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 100%;
  height: 80vh;
  transform: translateX(-50%); }
  @media only screen and (min-width: 600px) {
    #contactdiv {
      width: 60%;
      height: 70vh; } }
  @media only screen and (max-width: 600px) {
    #contactdiv {
      width: 90%; } }
@media only screen and (min-width: 600px) {
  #contactgrid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px; } }

input {
  background-color: #cac7c3ff;
  border: none;
  height: 40px; }
  @media only screen and (max-width: 600px) {
    input {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 0px; } }
textarea {
  background-color: #cac7c3ff;
  border: none;
  height: 40px;
  width: 100%;
  height: 40%;
  resize: none; }
  @media only screen and (max-width: 600px) {
    textarea {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 0px; } }
#contactbtn {
  margin-top: 20px; }
